body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-bigshot-one: "Bigshot One";

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-orangered: #f24e1e;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-3xs: 10px;
  --br-mini: 15px;
}
